@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat+Subrayada:wght@400;700&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap");
html {
  font-size: 62,5%; }

h1 {
  color: #A19D9D; }

h2 {
  color: #25551F; }

h3 {
  color: #3ABD34; }

h4 {
  color: #fff; }

p {
  color: #A19D9D; }

.header__div__titulo {
  text-align: center;
  font-size: 50px;
  text-shadow: black 3px 3px 6px;
  flex-grow: 1;
  background: linear-gradient(to bottom, #3ABD34, #25551F); }

h1 {
  font-family: 'Montserrat', sans-serif;
  padding: 21px;
  margin: 0;
  border: #3ABD34 2px; }

.quienessomos__titulo, .productos__titulo, .repdemarca__titulo {
  text-align: center;
  font-size: 200%;
  font-family: 'Cantarell', sans-serif; }

.quienessomos__subtitulo, .productos__subtitulo, .repdemarca__subtitulo {
  text-align: center;
  font-size: 150%;
  font-family: 'Cantarell', sans-serif; }

.header__div__img {
  width: 100px;
  flex-grow: 0; }

.navegacion__img {
  height: 100%;
  width: 100%;
  border: solid #3ABD34 2px; }

.quienessomos__subtitulo__cuerpo, .repdemarca__subtitulo__cuerpo {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center; }

footer {
  text-align: center; }

.cabecera {
  display: flex;
  flex-flow: row nowrap; }

.grilla3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.año {
  background: lightgreen;
  margin: 10px; }

.our-team-main {
  width: 100%;
  height: auto;
  border-bottom: 5px #323233 solid;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px; }

.our-team-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 90px; }

.our-team-main h3 {
  font-size: 20px;
  font-weight: 700; }

.our-team-main p {
  margin-bottom: 0; }

.historia__cuerpo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0 15px;
  text-align: left;
  background: #fff; }

.historia__fecha {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
  background: #fff;
  padding: 15px;
  bottom: 0px;
  transition: all 0.5s ease;
  color: #8F998C; }

.our-team-main:hover .historia__fecha {
  bottom: -200px;
  transition: all 0.5s ease; }

.our-team-main:hover {
  border-color: #777;
  transition: 0.5s; }

.contacto {
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc; }

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em; }
  .row.contacto__header {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid #ccc;
    background: url(https://www.mundo.sn2world.com/media/k2/items/cache/af73f6753c32a2f78af69d093219b829_L.jpg);
    color: #fff; }
  .row.body {
    padding: .5em 2.5em 1em; }

.pull-right {
  float: right; }

.contacto__header__titulo {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0; }

.contacto__header__subtitulo {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0; }

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }
  .btn:hover {
    background-color: #bfbfbf; }
  .btn.btn-submit {
    background-color: #6185E2;
    border-bottom-color: #2656d0; }
    .btn.btn-submit:hover {
      background-color: #7796e6; }

form {
  max-width: 100%;
  display: block; }
  form ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    form ul li {
      margin: 0 0 0.25em 0;
      clear: both;
      display: inline-block;
      width: 100%; }
      form ul li:last-child {
        margin: 0; }
      form ul li p {
        margin: 0;
        padding: 0;
        float: left; }
        form ul li p.right {
          float: right; }
      form ul li .divider {
        margin: 0.5em 0 0.5em 0;
        border: 0;
        height: 1px;
        width: 100%;
        display: block;
        background-color: #6185E2;
        background-image: linear-gradient(to right, #ee9cb4, #6185E2); }
      form ul li .req {
        color: #ee9cb4; }
  form label {
    display: block;
    margin: 0 0 0.5em 0;
    color: #6185E2;
    font-size: 1em; }
  form input {
    margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: 1em; }
  form textarea {
    border: 1px solid #ccc;
    padding: 6px 10px;
    width: 100%;
    color: #555; }
  form small {
    color: #6185E2;
    margin: 0 0 0 0.5em; }

@media only screen and (max-width: 480px) {
  .pull-right {
    float: none; }
  input {
    width: 100%; }
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both; }
  li, p {
    width: 100%; }
  input.btn {
    margin: 1.5em 0 0.5em; }
  h1 {
    font-size: 2.25em; }
  h3 {
    font-size: 1.125em; }
  li small {
    display: none; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.pricing-table-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.6em;
  color: #3ABD34;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

.pricing-table-title a {
  font-size: 0.6em; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  clear: both; }

/** ========================
 * Contenedor
 ============================*/
.pricing-wrapper {
  width: 960px;
  margin: 40px auto 0; }

.pricing-table {
  margin: 0 10px;
  text-align: center;
  width: 300px;
  float: left;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.pricing-table:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06); }

.pricing-title {
  color: #FFF;
  background: #A1F9CF;
  padding: 20px 0;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

.pricing-table.recommended .pricing-title {
  background: #A8FAFF; }

.pricing-table.recommended .pricing-action {
  background: #A19D9D; }

.pricing-table .price {
  background: #403e3d;
  font-size: 3.4em;
  font-weight: 700;
  padding: 20px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

.pricing-table .price sup {
  font-size: 0.4em;
  position: relative;
  left: 5px; }

.table-list {
  background: #FFF;
  color: #403d3a; }

.table-list li {
  font-size: 1.4em;
  font-weight: 700;
  padding: 12px 8px; }

.table-list li:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #3fab91;
  display: inline-block;
  position: relative;
  right: 5px;
  font-size: 16px; }

.table-list li span {
  font-weight: 400; }

.table-list li span.unlimited {
  color: #FFF;
  background: #25551F;
  font-size: 0.9em;
  padding: 5px 7px;
  display: inline-block;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px; }

.table-list li:nth-child(2n) {
  background: #F0F0F0; }

.table-buy {
  background: #FFF;
  padding: 15px;
  text-align: left;
  overflow: hidden; }

.table-buy p {
  float: left;
  color: #37353a;
  font-weight: 700;
  font-size: 2.4em; }

.table-buy p sup {
  font-size: 0.5em;
  position: relative;
  left: 5px; }

.table-buy .pricing-action {
  float: right;
  color: #FFF;
  background: #A19D9D;
  padding: 10px 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 1.4em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.table-buy .pricing-action:hover {
  background: #3ABD34; }

.recommended .table-buy .pricing-action:hover {
  background: #228799; }

/** ================
 * Responsive
 ===================*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pricing-wrapper {
    width: 768px; }
  .pricing-table {
    width: 236px; }
  .table-list li {
    font-size: 1.3em; } }

@media only screen and (max-width: 767px) {
  .pricing-wrapper {
    width: 420px; }
  .pricing-table {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    width: 100%; } }

@media only screen and (max-width: 479px) {
  .pricing-wrapper {
    width: 300px; } }
