
html {
	font-size: 62,5%;
}
$green: #3ABD34;
$lightgreen: #A1F9CF;
$darkgreen: #25551F;
$blue: #6185E2;
$lightblue: #A8FAFF;
$gray: #A19D9D;
$black: #1C1B1B;
$azul: #496DF4;




@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Montserrat+Subrayada:wght@400;700&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');


$headings: (
	h1: $gray,
	h2: $darkgreen,
	h3: $green,
	p: $gray
);

@each $heading, $colores in $headings {
	#{$heading} {
		color: $colores
	}
}

@mixin sizes($ancho, $alto) {
   height: $alto;
   width: $ancho;
}
@mixin fuentes($alineacion, $tamanio) {
   text-align: $alineacion;
   font-size: $tamanio;
}

.header__div__titulo {
	@include fuentes(center,50px);
	text-shadow: black 3px 3px 6px;
	flex-grow: 1;
	background: linear-gradient(to bottom, $green, $darkgreen);
}
h1 {
	font-family: 'Montserrat', sans-serif;
	background-color: $black;
	padding: 21px;
	margin: 0;
	border: $green 2px;
}
.quienessomos__titulo, .productos__titulo, .repdemarca__titulo {
	@include fuentes(center,200%);
	font-family: 'Cantarell', sans-serif;
}
.quienessomos__subtitulo, .productos__subtitulo, .repdemarca__subtitulo {
	@include fuentes(center,150%);
	font-family: 'Cantarell', sans-serif;
}
.header__div__img {
	width: 100px;
	flex-grow: 0;
}
.navegacion__img {
	@include sizes(100%,100%);
	border: solid $green 2px;
}
.quienessomos__subtitulo__cuerpo, .repdemarca__subtitulo__cuerpo {
	font-family: 'Noto Sans TC', sans-serif;
	text-align: center;
}
footer {
	text-align: center;
}
.cabecera {
	display: flex;
	flex-flow: row nowrap;
}
.contacto__grilla--estilo label{
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}
.contacto__grilla--estilo input{
	@include sizes(200px,50%);
	transition: all 2s; 
	font-size: 20px;
}
.contacto__grilla--estilo input:focus{
	width: 80%;
 	font-size: 50px;
 	background: linear-gradient(to right, $lightgreen, $lightblue);
}
.contacto__grilla--estilo select:focus{
	width: 20px;
 	font-size: 20px;
 	background: linear-gradient(to right, $lightgreen, $lightblue);
}
.contacto__grilla__textarea{
	@include sizes(550px,200px);
	transition: all 2s; 
}
.contacto__grilla__textarea:focus{
	width: 100%;
	height: 200px;
 	font-size: 24px;
 	background: linear-gradient(to right, $lightgreen, $lightblue);
}
.contacto__grilla--estilo2 {
	font-size: 20px;
}
.contacto__grilla--estilo2 label {
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
}
.contacto__grilla--estilo2 input{
	transition: all 2s; 
	font-size: 20px;
}
.contacto__grilla--estilo2 input:focus{
	width: 50px;
 	background: linear-gradient(to right, lightgreen,lightblue);
}
.contacto__grilla {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr,1fr,1fr;
	height: 500px;
	grid-column-gap: 10px;
}
.grilla3 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.año {
	background: lightgreen;
	margin: 10px;
}
.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:5px #323233 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
}


.our-team-main img
{
	border-radius:50%;
	margin-bottom:20px;
	width: 90px;
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
}

.our-team-main p
{
	margin-bottom:0;
}

.historia__cuerpo
{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:left;
	background:#fff;
	
}

.historia__fecha
{
	width:100%;
	height:auto;
	position:relative;
	z-index:10;
	background:#fff;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease;
	color: #8F998C;
}

.our-team-main:hover .historia__fecha
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#777;
	transition:0.5s;
}


.header__div__titulo {
  color: #728a7f;
  text-shadow: black 3px 3px 6px;
  flex-grow: 1;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(to bottom, lightgreen, lightblue); }

.menu ul li a {
  color: #20853A; }

.menu ul a:hover {
  background-color: #849E8B;
  padding: 20px; }

.menu ul {
  list-style: none;
  font-family: 'Montserrat Subrayada', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.menu li {
  color: #174a25;
  float: left;
  list-style: none;
  position: relative;
  display: inline-block; }

.menu ul ul {
  position: absolute;
  display: none; }

.menu ul ul li {
  display: block; }

.menu ul li:hover ul {
  display: block;
  background-color: #BDC9C1; }

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  background-color: #A2F9B4;
  padding: 21px;
  margin: 0;
  border: dashed green 2px; }

.quienessomos__titulo, .productos__titulo, .repdemarca__titulo {
  font-size: 200%;
  color: #5b8754;
  text-align: center;
  font-family: 'Cantarell', sans-serif; }

.quienessomos__subtitulo, .productos__subtitulo, .repdemarca__subtitulo {
  color: #36b57b;
  font-size: 150%;
  text-align: center;
  font-family: 'Cantarell', sans-serif; }

.header__div__img {
  width: 100px;
  flex-grow: 0; }

.navegacion__img {
  width: 100%;
  height: 100%;
  border: solid green 2px; }

.quienessomos__subtitulo__cuerpo, .repdemarca__subtitulo__cuerpo {
  color: #2d4729;
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center; }

footer {
  text-align: center; }

.cabecera {
  display: flex;
  flex-flow: row nowrap; }

.contacto__grilla--estilo label {
  font-family: 'Cantarell', sans-serif;
  font-size: 20px; }

.contacto__grilla--estilo input {
  width: 20%;
  height: 50px;
  transition: all 2s;
  font-size: 20px; }

.contacto__grilla--estilo input:focus {
  width: 80%;
  font-size: 50px;
  background: linear-gradient(to right, lightgreen, lightblue); }

.contacto__grilla--estilo select:focus {
  width: 20px;
  font-size: 20px;
  background: linear-gradient(to right, lightgreen, lightblue); }

.contacto__grilla__textarea {
  width: 500px;
  height: 100px;
  transition: all 2s; }

.contacto__grilla__textarea:focus {
  width: 100%;
  height: 200px;
  font-size: 24px;
  background: linear-gradient(to right, lightgreen, lightblue); }

.contacto__grilla--estilo2 {
  font-size: 20px; }

.contacto__grilla--estilo2 label {
  font-family: 'Cantarell', sans-serif;
  font-size: 20px; }

.contacto__grilla--estilo2 input {
  transition: all 2s;
  font-size: 20px; }

.contacto__grilla--estilo2 input:focus {
  width: 50px;
  background: linear-gradient(to right, lightgreen, lightblue); }

.contacto__grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr,1fr,1fr;
  height: 500px;
  grid-column-gap: 10px; }

.grilla3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.año {
  background: lightgreen;
  margin: 10px; }

.idh {
  height: 200px;
  font-size: 30px;
  margin-bottom: 150px; }

.our-team-main {
  width: 100%;
  height: auto;
  border-bottom: 5px #323233 solid;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px; }

.our-team-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 90px; }

.our-team-main h3 {
  font-size: 20px;
  font-weight: 700; }

.our-team-main p {
  margin-bottom: 0; }

.historia__cuerpo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0 15px;
  text-align: left;
  background: #fff; }

.historia__fecha {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
  background: #fff;
  padding: 15px;
  bottom: 0px;
  transition: all 0.5s ease;
  color: #8F998C; }

.our-team-main:hover .historia__fecha {
  bottom: -200px;
  transition: all 0.5s ease; }

.our-team-main:hover {
  border-color: #777;
  transition: 0.5s; }

